body {
    background-color: #D4E1E3;
  }

#logoFondo{
  position: relative;
  width: 100%;
  height: 100vh;
  flex-shrink: 0;
  
}

#imgLogoFondo{
  position: absolute; 
  bottom: 0; 
  right: 0;
  width: 30%;
  height: 60%;
  z-index: 1;
}

#imgLogoLetrasFondo{
  position: absolute; 
  top: -20%;
  left: 0%;
  width: 25%;
  height: 30%;
  z-index: 1;
}

.centrar {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 1%;
}

input[type="text"],
input[type="number"] {
  padding-left: 10%;
  border: 1px solid #ccc;
  border-radius: 30px;
}

input[type="email"] {
  padding-left: 3%;
  border: 1px solid #ccc;
  border-radius: 30px;
}
#cargo{
  padding-left: 3%;
  border: 1px solid #ccc;
  border-radius: 30px;
}

input[type="password"] {
  padding-left: 7%;
  border: 1px solid #ccc;
  border-radius: 30px;
}



.from-login{
  position: relative;
  width: 50%;
  height: 83%;
  
  background-color:#89C7D0 ;
  margin: auto;
  margin-top: 7%;
  box-shadow: 7px 13px 20px #C2C2C2;
  padding: 20px 30px;
  border-radius:40px;
  z-index: 2;
}

.form_group{
  position: relative;
  --color:#5757577e;   
}

.form_input{
  width: 100%;
  font-family: inherit;
  font-size: 1rem;
  color: #706c6c;
  padding: .6em .3em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color);
}

.form_label{
  color: var(--color);
  cursor: pointer;
  position:absolute;
  top:-20%;
  left: 5px;
  transform: translateY(18px);
  transition: transform .5s, color .3s;
}

.form_input:focus+.form_label,
.form_input:not(:placeholder-shown)+ .form_label{
    transform:translateY(-18px) scale(.7);
    transform-origin: top left;
    font-size: 138%;
    --color:#000000;
}

.form_c1{
  position:absolute;
  width: 28%;
  left:1%; 
}

.form_c2{
  position:absolute;
  width: 28%;
  left:34%; 
}
.form_c3{
  position:absolute;
  width: 28%;
  left:67%; 
}

.form_c4{
  position:absolute;
  width: 60%;
  left:1%; 
}

.form_c5{
  position:absolute;
  width: 50%;
  left:1%; 
}


.form_c6{
  position:absolute;
  width: 40%;
  left:1%; 
}
.form_c7{
  position:absolute;
  width: 40%;
  left:47%; 
}

.form_c8{
  position:absolute;
  left:92%; 
  
}

.form_c9{
  position:absolute;
  left:66.5%; 
  width: 32%;
  
}

.form_c10{
  position:absolute;
 left: 43%;
  
}

.form_c10 button{
  border: none;
    outline: none;
    font-size: 14px;
    text-align: center;
    width: 120%;
    height: 45px;
    border-radius: 40px;
    background: #197B7A;
    flex-shrink: 0;
    color: white;
    box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.19);
    transition: trasform 0.2s;
}

.form_c10 button:hover{
  transform: scale(0.95);
}

#tipoUsuario{
  border-radius: 30px;
  
}


.conetendor{
  display: flex; /* Utiliza flexbox para alinear horizontalmente */
  justify-content: space-between;
}

#verpassword{
  width: 70%;
  border: none;
  background: none;
  cursor: pointer;
  outline: none; /* Elimina el contorno gris al quitar el foco del bot칩n */

  transition: opacity 0.9s; /* Agrega una transici칩n suave de opacidad */
}

/* Cambia la opacidad al pasar el rat칩n por encima */
#verpassword img:hover {
  opacity: 0.8; /* Cambia la opacidad al 70% cuando el cursor est치 sobre la imagen */
}

#ojo{
  width: 100%;
  height: 100%;
  opacity: 0.2;
  
}