body, html{
    background:  #D4E1E3;;
    height: 100%;  
    margin: 0;     
    padding-top: 50px;
}
#logoFondo{
    position: relative;
    width: 100%;
    height: 150px;
    flex-shrink: 0;  
  }
  
  #imgLogoFondo{
    position: absolute; 
    bottom: 0; 
    right: 0;
    width: 30%;
    height: 60%;
  }
  
  .barra-superior {
    background-color: #145070; /* Color de fondo azul */
    height: 10%;
    border-radius: 30px; /* Bordes redondeados */
    padding: 40px; /* Espacio interno para el contenido */
    color: white; /* Color del texto en la barra */
    position: fixed; /* Fija la barra en la parte superior de la ventana */
    top: -10%; /* Coloca la barra a la mitad de la pantalla verticalmente */
    left: 0; /* Ajusta el inicio de la barra en la parte izquierda */
    right: 0; /* Ajusta el final de la barra en la parte derecha */
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .tituloPag{
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2vw;
    height: 4%;
    width: 15%;
    border-radius: 30px;
    padding: 14px;
    color: rgb(0, 0, 0); 
    position: fixed; 
    top: 3%;
    left: 0; 
    right: 0; 
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 

.barra-de-busqueda{
  width: 100%;   
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
 }

 .barra-de-busqueda #buscador{
  border-radius: 30px; 
  height: 30px;
  width: 150px;
  padding-left: 7px;
  margin-top: 3px;
  } 

  .barra-de-busqueda img{
    padding-top: 0px;
    width: 35px;
    height: 35px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}
th, td {
    border: 1px solid black;
    padding: 8px 12px;
    text-align: left;
    
}
th {
    background-color: lightblue;

}


table{
  border-collapse: separate; 
  border-spacing: 0;       
  border-radius: 10px;      
  overflow: hidden;       
}

table thead tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

table thead tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}


  