body{
    background: #d4e1e3;
}


#logoFondo{
  position: relative;
  width: 100%;
  height: 150px;
  flex-shrink: 0;
  
}

#imgLogoFondo{
  position: absolute; 
  bottom: 0; 
  right: 0;
  width: 30%;
  height: 60%;
}

#imgLogoFondo {
  position: fixed; /* Cambia "absolute" a "fixed" */
  bottom: 0;
  right: 0;
  width: 30%;
  height: 60%;
  z-index: -1;
}

.barra-superior{
  z-index: 100;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #145070; 
  height: 1%;
  padding: 40px; 
  color: white; 
  position: fixed; 
  top: 0%;
  border-radius:0px 0px 30px 30px;
  left: 0; 
  right:0;

}
.barra-superior .menu_estilo_usuario{
border: none;
background-color: transparent;
cursor: pointer;
padding: 10px;
transition: transform 0.2s;
position: fixed;
top: 1%;
right: 10%;

}
.barra-superior .menu_estilo_usuario img{
width: 120px;
height: auto;
display: block;
}

.barra-superior .menu_estilo_usuario:hover{
transform: scale(0.90);
}

.barra-superior .menu_estilo_usuario img{
width: 120px;
height: auto;
display: block;
}

.barra-superior .menu_usuario:hover .contenido_del_menu_usuarios {
display: block;
}

.barra-superior .contenido_del_menu_usuarios a:hover {
background-color: lightblue;
}

.L1 {
font-size: 1.5vw;
position: absolute;
background-color: white;
color: black;
left: 50%; /* Establece la posición horizontal al centro */
transform: translateX(-50%); /* Ajusta la posición para que el centro esté alineado */
top: 18%;
padding: 10px;
border-radius: 80px;
font-family: Arial, sans-serif;
}

.texto{
font-size: 14px;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
text-align: center;
width: 90%;
position: absolute;
top: 47%;
left: 55%;
transform: translate(-50%, -50%);
color: black;

}

.enlace-inicio { 
text-decoration: none; color: white;
}

.fa-home {
font-size: 200%; /* Cambia el valor según el tamaño deseado */
position: relative;
top: -220%;
}

.fa-home:hover {
transform: scale(0.90); 
}

.tituloPag{
  position: fixed; /* Fija la barra en la parte superior de la ventana */
  top: 2%; /* Coloca la barra a la mitad de la pantalla verticalmente */
  left: 50%; /* Ajusta el inicio de la barra en la parte izquierda */
  transform: translateX(-50%);
  width: 15%;
  height: 3%;
  background-color: #ffffff;
  border-radius: 30px; /* Bordes redondeados */
  padding: 10px; /* Espacio interno para el contenido */
  color: rgb(0, 0, 0); /* Color del texto en la barra */
  font-family: Arial, sans-serif;
  text-align: center;

}

#textoTituloPag{
  margin: 0;
  font-size: 100%;
} 
  

.seccion{
    background-color: #73b1c1;
}


/*  */

.contenedor_busqueda {
  width: 90%;
  height: 48px;
  flex-shrink: 0;
  font-family: Arial, sans-serif;
  background: #73b1c100;
  margin: 0 auto;
  border-radius: 40px;
  position: relative; /* Añade esta propiedad para posicionar los elementos hijos */

}

.buscar_icono {
  width: 41px;
  height: 33px;
  flex-shrink: 0;
  background: url(../imagenes/imagen_buscar.png) no-repeat center/contain, transparent;
  border: none;
}

.buscar_icono_fondo {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #197c9a;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto; /*Empuja el elemento hacia la derecha */
  position: absolute; /* Añade esta propiedad para posicionar el elemento */
  top: 50%; /* Ajusta la posición vertical del elemento */
  transform: translateY(-50%); /* Ajusta la posición vertical del elemento */
  margin-left: 272px;
  }

.rectangulo_busqueda{
  width: 320px;
  height: 48px;
  flex-shrink: 0;
  /* margin-left: 70px; */

  border-radius: 40px;
  background: linear-gradient(0deg, #FEFFFF 0%, #FEFFFF 100%), #FEFFFF;

  display: flex;
  justify-content: space-between;
  font-family: Arial,sans-serif;
}

.input_busqueda{
  margin-left: 20px;
  border: none;
  outline: none;
  font-family: Arial, sans-serif;
}

.options {
  display: none;
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-family: Arial, sans-serif;
  overflow-y: auto;
}

.selected-value {
  font-family: Arial, sans-serif;
}

.selected-option {
  width:8%;
  height: 40px;
  flex-shrink: 0;
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 140%;
  background: #73B1C1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}

.options li {
  padding: 10px;
  cursor: pointer;
  font-family: Arial, sans-serif;
}

.options li:hover {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}


/*  */
.rectangulo_categorias {
    width:90%;
    height: 62px;
    flex-shrink: 0;
    font-family: Arial, sans-serif;
    padding:1px 0 4px 5px;  /*top, 0, bottom, left */
    background: #73B1C1;
    margin: 0 auto;
}

.categoria{
    width: 90%;
    height: 40px;
    flex-shrink: 0;
    border: 1px solid #73B1C1;
    background: #ffffff;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.usuario_seleccionado{
    margin: 0 auto;
    width: 90%;
    height: 30%;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
    /* font-size: 100%; */
    background: #FEFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.criterios{
    font-family: Arial, sans-serif;
    width: 90%;
    background: #feffff92 ;
    margin: 0 auto;
}

details .criterio {
    padding:2px 0 2px 45px;
}

details .criterios {
    list-style: none; 
    padding: 0;
    margin: 0; 
    width: 90%;
    margin: 0 auto;
    position: relative;
}
	  
details {
    cursor: pointer;
}

details[open] .criterios {
    max-height: 1000px;
    transition: max-height 0.5s ease-in-out;
    overflow: hidden;
}

.criterios {
    max-height: 0;
    overflow: hidden;
}
summary::-webkit-details-marker {
  color: #160f79; /* Cambia el color a rojo (#ff0000) */
}

summary::marker {
  color: #160f79; /* Cambia el color a rojo (#ff0000) */
}

.check_criterios input,
.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.check_criterios input{
	visibility: hidden;
	position: absolute;
	right: 0;
}

.check_criterios{
	position: relative;
	padding:5px 0 5px 60px; 
	display: block;
}

.check_criterios input + i{
       background: #f0f0f0;
       border:2px solid rgba(0,0,0,0.2);
       position: absolute; 
       left: 5px;
       top: 5px;
}

/* Estas reglas se aplicarán a todos los i despues 
de un input de tipo checkbox*/
.check_criterios input[type=checkbox ] + i{
	width: 37px;
	height: 15px;
  border-radius: 15px;
}

/*
Creamos el círculo que aparece encima de los checkbox
con la etqieta before. Importante aunque no haya contenido
debemos poner definir este valor.
*/
.check_criterios input[type=checkbox] + i:before{
	content: ''; /* No hay contenido */
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	z-index: 1;
	left: 0px;
	top: 0px;
	-webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
	box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
}

.check_criterios input[type=checkbox]:checked + i:before{
	left: 22px;
	-webkit-box-shadow: -3px 0 3px 0 rgba(0,0,0,0.2);
	box-shadow: 3px 0 -3px 0 rgba(0,0,0,0.2);
}

.check_criterios input[type=checkbox]:checked + i{
 background: #73B1C1;
}


.boton_asignar{
  width: 144px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #197B9A;
  border: none;

  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}   
.boton_asignar:hover{
    transform: scale(0.95);
  } 

.container {
  padding: 20px;
  padding-right: 5%;
  float: right;
}