body{
    background: #d4e1e3;
}

body {
    background-color: #D4E1E3;
  }

#logoFondo{
  position: relative;
  width: 100%;
  height: 150px;
  flex-shrink: 0;
  
}

#imgLogoFondo{
  position: absolute; 
  bottom: 0; 
  right: 0;
  width: 30%;
  height: 60%;
}

.barra-superior {
  background-color: #145070; /* Color de fondo azul */
  height: 10%;
  border-radius: 30px; /* Bordes redondeados */
  padding: 40px; /* Espacio interno para el contenido */
  color: white; /* Color del texto en la barra */
  position: fixed; /* Fija la barra en la parte superior de la ventana */
  top: -10%; /* Coloca la barra a la mitad de la pantalla verticalmente */
  left: 0; /* Ajusta el inicio de la barra en la parte izquierda */
  right: 0; /* Ajusta el final de la barra en la parte derecha */
}

.tituloPag{
  background-color: #ffffff;
  height: 4%;
  width: 15%;
  border-radius: 30px; /* Bordes redondeados */
  padding: 10px; /* Espacio interno para el contenido */
  color: rgb(0, 0, 0); /* Color del texto en la barra */
  position: fixed; /* Fija la barra en la parte superior de la ventana */
  top: 1%; /* Coloca la barra a la mitad de la pantalla verticalmente */
  left: 0; /* Ajusta el inicio de la barra en la parte izquierda */
  right: 0; /* Ajusta el final de la barra en la parte derecha */
  margin-left: auto;
  margin-right: auto;
 
}

#textoTituloPag{
  display: flex;
  
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 160%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}
  

.seccion{
    background-color: #73b1c1;
}

.rectangulo_principal{
    width:90%;
    height: 62px;
    flex-shrink: 0;

    border: 1px solid #000;
    background: #73B1C1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
}

.categoria{
    

    width: 90%;
    height: 40px;
    flex-shrink: 0;
    border: 1px solid #9BD6E6;
    background: #9BD6E6;
    margin: 0 auto;
  
    

}


.usuario_seleccionado{
    width: 90%;
    height: 62px;
    flex-shrink: 0;

    background: #FEFFFF;
    margin: 0 auto;
}

.criterios{
    width: 90%;
    background: #FEFFFF ;
    margin: 0 auto;
}

details .criterios {
    list-style: none; 
    padding: 0;
    margin: 0; 
    width: 90%;
    margin: 0 auto;
}

details {
    cursor: pointer;
}

details[open] .criterios {
    max-height: 1000px;
    transition: max-height 0.5s ease-in-out;
    overflow: hidden;
}

.criterios {
    max-height: 0;
    overflow: hidden;
}
