body{
    background:  #D4E1E3;
}
#logoFondo{
    position: relative;
    width: 100%;
    height: 150px;
    flex-shrink: 0;
    
  }
  
  #imgLogoFondo{
    position: absolute; 
    bottom: 0; 
    right: 0;
    width: 30%;
    height: 60%;
  }
  
  .barra-superior {
    background-color: #145070; /* Color de fondo azul */
    height: 10%;
    border-radius: 30px; /* Bordes redondeados */
    padding: 40px; /* Espacio interno para el contenido */
    color: white; /* Color del texto en la barra */
    position: fixed; /* Fija la barra en la parte superior de la ventana */
    top: -10%; /* Coloca la barra a la mitad de la pantalla verticalmente */
    left: 0; /* Ajusta el inicio de la barra en la parte izquierda */
    right: 0; /* Ajusta el final de la barra en la parte derecha */
  }
  
  .tituloPag{
    background-color: #ffffff;
    height: 4%;
    width: 15%;
    border-radius: 30px; /* Bordes redondeados */
    padding: 10px; /* Espacio interno para el contenido */
    color: rgb(0, 0, 0); /* Color del texto en la barra */
    position: fixed; /* Fija la barra en la parte superior de la ventana */
    top: 3%; /* Coloca la barra a la mitad de la pantalla verticalmente */
    left: 0; /* Ajusta el inicio de la barra en la parte izquierda */
    right: 0; /* Ajusta el final de la barra en la parte derecha */
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, sans-serif;
   
  }
  
  #textoTituloPag{
    position: relative;
    top: -85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Arial;
    font-size: 140%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: Arial, sans-serif;
    
  }
  .buscar_icono {
    width: 41px;
    height: 33px;
    flex-shrink: 0;
    background: url(../imagenes/imagen_buscar.png) no-repeat center/contain, transparent;
    border: none;
}

.buscar_icono_fondo {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #197B9A;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto; /* Empuja el elemento hacia la derecha */
    
}


.rectangulo_busqueda{
    width: 320px;
    height: 48px;
    flex-shrink: 0;

    border-radius: 40px;
    background: linear-gradient(0deg, #FEFFFF 0%, #FEFFFF 100%), #FEFFFF;

    display: flex;
    justify-content: space-between; 
    align-items: space; /* Centra verticalmente en el medio */

  
    


}

.input_busqueda{
    margin-left: 20px;
    border: none;
    outline: none;
    font-family: Arial, sans-serif;
}

.buscar_usuario{
    display: flex;
    justify-content: space-between; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    font-family: Arial, sans-serif;
    width: 100%;

    
}

/*Tabla*/


table #resultados{
width: 100%;  /* Elige el ancho que desees */
height: 50px; /* Establece la altura fija que desees */
overflow-y: auto;  /* Habilita el desplazamiento vertical cuando el contenido excede la altura */
border: 1px solid black; 
}


table {
  width: 100%;
  height: 40%;
  border-collapse: collapse;
  border: 1px solid black;
  overflow-y: auto;
  background-color: rgb(245,245,245);
}
th, td {
  border: 1px solid black;
  padding: 8px 12px;
  text-align: left;
  
}
th {
  background-color: lightblue;

}


table{
border-collapse: separate; 
border-spacing: 0;       
border-radius: 10px;      
overflow: hidden;       
}

table thead tr:first-child th:first-child {
border-top-left-radius: 10px;
}

table thead tr:first-child th:last-child {
border-top-right-radius: 10px;
}

table tbody tr:last-child td:first-child {
border-bottom-left-radius: 10px;
}

table tbody tr:last-child td:last-child {
border-bottom-right-radius: 10px;
}







/* AQUÍ COMIENZA EL CSS PARA EL FORMULARIO DE REGISTRO*/

.contenido {
   
    flex-shrink: 0;
    background: #F3FAFA;
    margin: 0 auto;
    width: 90%;
    height: 45%;
    font-family: Arial, sans-serif;
    margin-bottom: 20px; /* Ajusta el valor según sea necesario */
}

.tabla {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    margin-bottom: 20px; /* Ajusta el valor según sea necesario */

}

.fila {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    margin-bottom: 10px; /* Ajusta el valor según sea necesario */
    min-height: 50px; /* Por ejemplo */
}

.fila:hover {
    background-color: #D4E1E3;
    .celda{
        border: 1px solid #D4E1E3;
    }
}
.tabla-container {
  height: 100%; /* Ajusta la altura máxima según sea necesario */
  overflow-y: auto; /* Agrega una barra de desplazamiento vertical cuando sea necesario */
}
.encabezado {
    display: flex;
    background-color: white;
    color: black;
    padding: 18px;
    font-family: Arial, sans-serif;
}

.celda {
    flex: 1; /* Que las celdas ocupen todo el espacio disponible */
    padding: 10px;
    border: 1px solid white;
    text-align: center; /* Centra el texto horizontalmente */
    font-family: Arial, sans-serif;
}





.botones{
    display: flex;
    align-items: flex-end;
    margin-left: 20px;
    
    
}
.boton_eliminar{
    width: 104px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #197B9A;
    border: none;

    color: #000;
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-right: 10px; /* Ajusta el valor del margen según tu preferencia */

}
.boton_eliminar:hover{
  transform: scale(0.95);
} 

.boton_registrar{
  width: 104px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #197B9A;
  border: none;

  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 10px; /* Ajusta el valor del margen según tu preferencia */

}   
.boton_registrar:hover{
    transform: scale(0.95);
  } 
   
.boton_editar{
    width: 104px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #197B9A;
    border: none;

    color: #000;
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 10px; /* Ajusta el valor del margen según tu preferencia */

}   

.boton_editar:hover{
  transform: scale(0.95);
} 

#logoFondo{
    position: relative;
    width: 100%;
    height: 100vh;
    flex-shrink: 0;
  }

  
  #imgLogoFondo {
    position: fixed; /* Cambia "absolute" a "fixed" */
    bottom: 0;
    right: 0;
    width: 30%;
    height: 60%;
    z-index: -1;
}

  
  #imgLogoLetrasFondo{
    position: absolute; 
    top: -20%;
    left: 0%;
    width: 25%;
    height: 30%;
    z-index: -1;
  }




  /* EMPIEZA EL CSS PARA EL FORMULARIO DE REGISTRO */
  .oculto {
    display: none;
}

#fondoOscuro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
    z-index: 999; /* Asegura que esté encima de otros elementos */
}

#formularioContainer {
    width: 50%;
    height: 70%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 1000; /* Asegura que esté encima del fondo oscuro */
   
    margin: auto;
    
    
    border-radius:40px;
}


.centrar {
  text-align: center;
  font-family: Arial;
}

label {
  display: block;
  margin-bottom: 1%;
  font-family: Arial;
}

#nombre, #apellidoP, #apellidoM, #cargo{
  padding-left: 10%;
  border: 1px solid #ccc;
  border-radius: 30px;
  font-family: Arial;
}

#correo {
  padding-left: 3%;
  border: 1px solid #ccc;
  border-radius: 30px;
  font-family: Arial;
}
#cargo{
  padding-left: 3%;
  border: 1px solid #ccc;
  border-radius: 30px;
  font-family: Arial;
}

#contrasena, #contrasenaV{
  padding-left: 7%;
  border: 1px solid #ccc;
  border-radius: 30px;
  font-family: Arial;
}



.from-login{
  position: relative;
  width: 100%;
  height: 100%;
  
  background-color:#89C7D0 ;
  margin: auto;
  margin-top: -3%;
  margin-left: -3%;
  box-shadow: 7px 13px 20px #3b3939;
  padding: 20px 30px;
  border-radius:40px;
  z-index: 2;
}

.form_group{
  position: relative;
  --color:#5757577e;   
}

.form_input{
  width: 100%;
  font-family: Arial;
  font-size: 1rem;
  color: #706c6c;
  padding: .6em .3em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color);
}

.form_label{
  color: var(--color);
  cursor: pointer;
  position:absolute;
  top:-20%;
  left: 5px;
  transform: translateY(18px);
  transition: transform .5s, color .3s;
}

.form_input:focus+.form_label,
.form_input:not(:placeholder-shown)+ .form_label{
    transform:translateY(-18px) scale(.7);
    transform-origin: top left;
    font-size: 138%;
    --color:#000000;
}

.form_c1{
  position:absolute;
  width: 26%;
  left:3%; 
}

.form_c2{
  position:absolute;
  width: 26%;
  left:35%; 
}
.form_c3{
  position:absolute;
  width: 26%;
  left:67%; 
}

.form_c4{
  position:absolute;
  width: 60%;
  left:3%; 
}

.form_c5{
  position:absolute;
  width: 50%;
  left:3%; 
}


.form_c6{
  position:absolute;
  width: 38%;
  left:3%; 
}
.form_c7{
  position:absolute;
  width: 38%;
  left:47%; 
}

.form_c8{
  position:absolute;
  left:90%; 
  
}

.form_c9{
  position:absolute;
  left:67.3%; 
  width: 29%;
  font-family: Arial;
  
}

.form_c10{
  position:absolute;
 left: 43%;

  
}

.form_c10 button{
  border: none;
  outline: none;
  font-size: 100%;
  text-align: center;
  width: 120%;
  height: 45px;
  border-radius: 40px;
  background: #197B7A;
  flex-shrink: 0;
  color: white;
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.19);
  transition: trasform 0.2s;
  font-family: Arial;
}

.form_c10 button:hover{
  transform: scale(0.95);
}

#tipoUsuario{
  border-radius: 30px;
  
}


.conetendor{
  display: flex; /* Utiliza flexbox para alinear horizontalmente */
  justify-content: space-between;
}

#verpassword{
  width: 60%;
  border: none;
  background: none;
  cursor: pointer;
  outline: none; /* Elimina el contorno gris al quitar el foco del botón */

  transition: opacity 0.9s; /* Agrega una transición suave de opacidad */
}

/* Cambia la opacidad al pasar el ratón por encima */
#verpassword img:hover {
  opacity: 0.8; /* Cambia la opacidad al 70% cuando el cursor está sobre la imagen */
}

#ojo{
  width: 100%;
  height: 100%;
  opacity: 0.2;
  
}

/* Animación para el formulario emergente */
@keyframes aparecer {
    from {
        transform: translate(-50%, -60%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

/* Estilos para el formulario emergente */
#formularioContainer {
    /* Tus estilos existentes aquí */

    /* Aplicar la animación */
    animation: aparecer 0.3s ease-in-out;
}

/* Estilos para el cuadro de diálogo personalizado */
#cuadroDialogo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  border-radius: 30px;
  display: none;
  
  
  width: 50%;
  height: 50%;
  background-color: #F3FAFA;
  z-index: 1;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  border: 1px solid rgb(199, 77, 77); /* Agrega un borde rojo */

}

#tituloError{
  text-align: center;
  font-family: Arial;
  
}

#descripcionError{
  text-align: center;
  font-family: Arial;
  font-size: medium;

}

#botonError{
  text-align: center;
  font-family: Arial;
  font-size: medium;

  display: block; /* Convierte el botón en un elemento de bloque */
  margin: 0 auto; /* Centra horizontalmente */
  padding: 10px 20px; /* Espaciado interior del botón */
  border-radius: 10px; /* Bordes redondeados */
  background-color: #0097B2; /* Cambia el color de fondo */
  color: #fff; /* Cambia el color del texto */
  border: none; /* Elimina el borde */
  cursor: pointer;
}

#botonError:hover {
  background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse */
}


.cerrar {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: red;
  font-size: 300%;
}
