body{
    align-items: center;
    background-color: #D4E1E3;
    /*background-image: url('/imagenes/img_login/logo_Fondo.png');
    background-position: 100% 100%;
    background-size: 35% ;
    background-repeat: no-repeat;
    /*background-position: 950px 220px;*/
    
}
::-webkit-scrollbar {
    width: 6px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #145070; 
    border-radius: 6px; 
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.0); 
  }
  
.barra-superior{
    z-index: 100;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #145070; 
    height: 1%;
    padding: 40px; 
    color: white; 
    position: fixed; 
    top: 0%;
    border-radius:0px 0px 30px 30px;
    left: 0; 
    right:0;
}
.fa-home {
    font-size: 200%; /* Cambia el valor según el tamaño deseado */
    position: relative;
    top: -220%;
}
.fa-home:hover {
    transform: scale(0.90);
    
}
.enlace-inicio { 
    text-decoration: none; color: white;
}
.barra-superior .menu_estilo_usuario{
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.2s;
    position: fixed;
    top: 1%;
    right: 10%;
    
}
.barra-superior .menu_estilo_usuario img{
  width: 120px;
  height: auto;
  display: block;
}
.barra-superior .menu_estilo_usuario:hover{
    transform: scale(0.90);
}
.barra-superior .menu_estilo_usuario img{
    width: 120px;
    height: auto;
    display: block;
}
.barra-superior .menu_usuario:hover .contenido_del_menu_usuarios {
    display: block;
}
.barra-superior .contenido_del_menu_usuarios a:hover {
    background-color: lightblue;
}
.texto{
    font-size: 14px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    text-align: center;
    width: 90%;
    position: absolute;
    top: 47%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: black;
    
}
.L1 {
    font-size: 1.5vw;
    position: absolute;
    background-color: white;
    color: black;
    left: 50%; /* Establece la posición horizontal al centro */
    transform: translateX(-50%); /* Ajusta la posición para que el centro esté alineado */
    top: 18%;
    padding: 10px;
    border-radius: 80px;
    font-family: Arial, sans-serif;
}
.usu_B{
    padding: 5px;
    position:absolute;
    background-color: white;
    color: black;
    align-items: center;
    left: 80vw;
    top: 30%;
    font-size: 1.5vw;
    border-radius:30px 30px 30px 30px;
    font-family: Arial, sans-serif;
}
.usu_B a{
    font-size: 12px;
}
.logoArriba{
    margin-top: 4%;
    width: 20%;
    height: auto;
}
.logoLetras img{
    height: auto;
    width: 20vw;
    min-width:150px ;
    
}
.logoFondo{
    position:absolute;
    left: 70%;
    top: 38%;
}
.logoFondo img{
    height: auto;
    width: 30vw;
}
.todo{
    display: flex;
}
.cuadro2 {
    padding: 2px;
    background-color: #89C7D0;
    margin-left: 2%;
    margin-right: 10%;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.39);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 30px; /* Borde inferior derecho cero */
    border-bottom-left-radius: 30px; /* Borde inferior izquierdo cero */
    width: 20%;
    height: auto;
}
.lablCat {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    margin-left: 2%;
    margin-right: 10%;
    font-weight: bolder;
    padding: 2px;
    font-size: 120%;
    background-color: #6EA8B7;
    border-radius: 30px 30px 0 0;
    width: 20%;
    height: 5%;
    font-family: Arial, Helvetica, sans-serif;
}
.cuadro2 p{
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
    
}
.cuadroCate{
    max-height: 75%; /* Define la altura máxima que deseas antes de que aparezca la barra de desplazamiento */
    overflow-y: auto; /* Habilita la barra de desplazamiento vertical cuando sea necesario */
    left: 35%;
    top: 20%;
    margin-left: 50%;
    position: absolute;
    margin: 0 auto;
    background: #ACD3D9;
    width: 60%;
    height: auto;
    box-shadow: 10px 10px 30px 0px rgba(0.39, 0.39, 0, 0);
    padding: 5px;
    border-radius: 30px;
    overflow-x: hidden;
    
}
.cuadroCate::-webkit-scrollbar {
    width: 12px; 
}
.cuadroCate::-webkit-scrollbar-thumb {
    background-color: #145070; 
    border-radius: 6px; 
}
.cuadroCate::-webkit-scrollbar-track {
    background-color: #D4E1E3; 
}
.parrafo{
    text-align: justify;
    width: 80%;
    padding: 5px;
    margin: 0 auto;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.parrafo1 {
    text-align: left;
    width: 80%;
    padding: 5px;
    margin: 0 auto;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.parrafo1:hover{
    transform: scale(1.1);
}
.elemetosMenuLateral a {
    text-decoration: none; /* Elimina el subrayado de los enlaces dentro de .parrafo1 */
    color: black; /* Cambia el color de los enlaces a tu elección */
}
.fa-arrow-right {
    font-size: 100%;
    background-color: rgb(240, 232, 232); 
    border-radius: 100%; 
    padding: 5px;
    color: #145070;
    float: right;
    
}
.fa-arrow-right:hover {
    transform: scale(1.2);
    background-color: white;
}
.titulo_categoria{
    position: relative;
    left: -2%;
    width: 102%;
    padding: 5px;
    font-size: 24px;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #73B1C1;
}
.preguntasCategoria{
    font-size: 16px;
    padding: 5px;
    margin: 0 auto;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    background: #D4E1E3;
    border-radius: 20px;
    margin-bottom: 10px;
    text-align: justify;
}
.preguntasCategoria input{
    margin: 5px;
    padding: 5px;
    border: 0;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-radius: 20px;
}
.preguntasCategoria textarea{
    margin: 5px;
    padding: 5px;
    border: 0;
    width: 96.6%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-radius: 20px;
}
.preguntasCategoria button{
    border: 0;
    background-color: #004AAD;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-radius: 15px;
    padding: 5px;
    transition: transform 0.2s;
}
.preguntasCategoria button:hover{
    transform: scale(0.95);
}
.pdfs-options {
    border-radius: 30px;
    background-color: #73B1C1;
    display: flex;
    width: 60%;
    margin: 0 auto; /* Centra horizontalmente */
    margin-bottom: 3vw;
}
.imgpdfs{
    width: 30%;
    padding: 10px;
    text-align: center;
    font-size: 6vw;
    color: white;
}
.Listo {
    display: block;
    padding: 5px;
 
    width: 70%;
    
}
.Listo img{
    width: 10%;
}
.Listo button{
    border: 0;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #5488a3;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-radius: 10px;
    padding: 5px;
    transition: transform 0.2s;
    width: 15vw;
}
.Listo button:hover{
    transform: scale(0.95);
}
.btnListo {
    text-align: center;
}
.btnListo button {
    border: 0;
    background-color: #004AAD;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    border-radius: 8px;
    padding: 5px;
    transition: transform 0.2s;
    display: inline-block; /* Añade esto para evitar que el botón ocupe todo el ancho */
    cursor: pointer;
    margin-bottom: 1vw;
}
.btnListo button:hover {
    transform: scale(0.95);
    background-color: #1b61bb;
}
.opcMult{
    align-content: center;
}
.opcMult select{
    margin:5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #73B1C1;
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px;
    border-radius: 20px;
    border-color: #145070;
}
.checkB {
    margin: 7px;
}
.checkB input{
    margin: 5px;
    width: 10%;
}
/*----------------------------  VENTANA PARA SUBIR LOS PDFs     --------------------------*/
        /*:::Boton-Modal:::*/
       
        
        
        
        .boton-modal1{
            padding: 10px;
            color: #fff;
            cursor: pointer;
            transition: all 300ms ease;
        }
        .boton-modal1 label{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 15px;
            background-color: #5488a3;
            color: #fff;
            border-radius: 4px;
            cursor: pointer;
            transition: all 300ms ease;
            font-family: Arial, Helvetica, sans-serif;
        }
        .boton-modal1 label i {
            margin-right: 5px; /* Añade un espacio entre el icono y el texto */
        }
        .boton-modal1 label:hover{
            background-color: #185E83;
        }
        /*:::Fin Boton-Modal:::*/
        
        /*:::Ventana Modal:::*/
        #btn-modal1{
            display: none;
        }
        .container-modal1{
            width: 100%;
            height: 100vh;
            position: fixed;
            top: 0; left: 0;
            background-color: rgba(144, 148, 150, 0.8);
            display: none;
            justify-content: center;
            align-items: center;
            z-index: 100;
            
        }
        #btn-modal1:checked ~ .container-modal1{
            display: flex;
        }
        .content-modal1{
            width: 100%;
            max-width: 400px;
            padding: 20px;
            background-color: #fff;
            border-radius: 30px;
            background: #ACD3D9;
            text-align:center;
            align-items: center;
            
        }
        .content-modal1 h2{
            margin-bottom: 10px;
            text-align:center;
        }
        .content-modal1 p{
            padding: 0px 0px;
            margin-bottom: 0; /* Elimina el margen inferior del párrafo */
        }
        .content-modal1 .btn-cerrar1{
            width: 100%;
            margin-top: 15px;
            display: flex;
            justify-content: flex-end;
            position:absolute;
        }
        .content-modal1 .btn-cerrar1 label{
            padding: 7px 10px;
            background-color: red;
            color: #fff;
            border-radius: 4px;
            cursor: pointer;
            transition: all 300ms ease;
        }
        .content-modal1 .btn-cerrar1 label:hover{
            background-color:#185E83;
        }
        .cerrar-modal1{
            width:100%;
            height: 100vh;
            position: absolute;
            top:0; left: 0;
            z-index: -1;
        }
        
        
        @media screen and (max-width:800px) {
            .content-modal1{
                width: 90%;
            }
        }
        .cerrar1{
           color: rgb(255, 0, 0);
           cursor: pointer;
           
           border-radius: 3px;
           padding-left: 1%;
            padding-right: 1%;
        }
        .submitPDF{
            background-color: #2e72cc;
            color: white;
            cursor: pointer;
        }
        .submitPDF:hover{
            background-color: #6593cf;
        }
        .custom-file-input {
            display: none;
        }
        .custom-file-label {
            display: inline-block;
            padding: 5px 10px;
            background-color: #FF5733;
            color: white;
            border-radius: 15px;
            cursor: pointer;
        }
        .custom-file-label .icon {
            margin-right: 10px;
        }
        .selected-files {
            margin-top: 10px;
            font-size: 12px;
        }
        /*:::Fin Ventana Modal:::*/
        
        
        
        /*-----------------------VENTANA MODAL 2---------------------------*/
        /* Botón Modal */
               /*:::Boton-Modal:::*/
        .boton-modal2{
            /*display: flex;*/
            align-items: center;
            justify-content: center;
            padding: 10px;
            color: #fff;
            cursor: pointer;
            transition: all 300ms ease;
            align-items: center;
        }
        .boton-modal2 label i {
            margin-right: 5px; /* Añade un espacio entre el icono y el texto */
        }
        .boton-modal2 label{
            padding: 10px 15px;
            background-color: #5488a3;
            color: #fff;
            border-radius: 4px;
            cursor: pointer;
            transition: all 300ms ease;
            font-family: Arial, Helvetica, sans-serif;
        }
        .boton-modal2 label:hover{
            background-color: #185E83;
        }
        
        .botonesPDFSgroup{
            display: flex;
            align-items: center;
        }
        /*:::Fin Boton-Modal:::*/
        /* Ventana Modal */
        #btn-modal2 {
            display: none;
        }
        
        .container-modal2 {
            width: 100%;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            background-color: rgba(144, 148, 150, 0.8);
            display: none;
            justify-content: center;
            align-items: center;
        }
        
        #btn-modal2:checked ~ .container-modal2 {
            display: flex;
        }
        
        .content-modal2 {
            position: relative;
            width: 100%; /* Cambiado el ancho a 80% para mayor adaptabilidad */
            max-width: 700px;
            height: 400px;
            padding: 10px;
            background-color: #fff;
            border-radius: 4px;
            background: #ACD3D9;
            border-radius: 30px;
        }
        
        .content-modal2 h2 {
            margin-bottom: 15px;
        }
        
        .content-modal2 p {
            padding: 15px 0px;
            border-top: 1px solid #dbdbdb;
            border-bottom: 1px solid #dbdbdb;
        }
        
        .content-modal2 .btn-cerrar2{
            width: 100%;
            margin-top: 15px;
            display: flex;
            justify-content: flex-end;
        }
        .content-modal2 .btn-cerrar2 label{
            padding: 7px 10px;
            background-color: #5488a3;
            color: #fff;
            border-radius: 4px;
            cursor: pointer;
            transition: all 300ms ease;
        }
        .content-modal2 .btn-cerrar2 label:hover{
            background-color:#185E83;
        }
        .cerrar-modal2{
            width:100%;
            height: 100vh;
            position: absolute;
            top:0; left: 0;
            z-index: -1;
        }
        @media screen and (max-width:800px) {
            .content-modal2{
                width: 90%;
            }
        }
        
        .content-modal2 .Cuadro {
            position: relative;
            width: 100%;
            height: 350px; /* Tamaño fijo del Cuadro en píxeles */
            overflow: hidden; /* Recorta el contenido que desborde */
            overflow-y:auto;
            background: #D4E1E3;
            border-radius: 30px;
        }
        
        
        table {
            width: 100%;
            border-collapse: collapse;
        }
        
        table, th, td {
            border: 1px solid #ccc;
        }
        
        th, td {
            padding: 8px;
            text-align: left;
        }
        
        th {
            background-color: #f2f2f2;
        }
        
        .boton_cerrar{
            position:absolute;
            top: 90%;
            left: 38%;
            padding: 10px 20px;
            background-color: #5488a3;
            color: #fff;
            border-radius: 4px;
            cursor: pointer;
            transition: all 300ms ease;
        }
        
        
        .boton_cerrar1{
            position:absolute;
            padding: 10px 20px;
            background-color: #5488a3;
            color: #fff;
            border-radius: 4px;
            cursor: pointer;
            transition: all 300ms ease;
        }
        #btn-modal4 {
            display: none;
        }
        
        .container-modal4 {
            width: 100%;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            background-color: rgba(144, 148, 150, 0.8);
            display: none;
            justify-content: center;
            align-items: center;
        }
        
        #btn-modal4:checked ~ .container-modal4 {
            display: flex;
        }
        
        .content-modal4 {
            position: relative;
            width: 100%; /* Cambiado el ancho a 80% para mayor adaptabilidad */
            max-width: 700px;
            height: 400px;
            padding: 10px;
            background-color: #fff;
            border-radius: 4px;
            background: #ACD3D9;
            border-radius: 30px;
        }
        
        .content-modal4 h2 {
            margin-bottom: 15px;
        }
        
        .content-modal4 p {
            padding: 15px 0px;
            border-top: 1px solid #dbdbdb;
            border-bottom: 1px solid #dbdbdb;
        }
        
        .content-modal4 .btn-cerrar2{
            width: 100%;
            margin-top: 15px;
            display: flex;
            justify-content: flex-end;
        }
        .content-modal4 .btn-cerrar4 label{
            padding: 7px 10px;
            background-color: #5488a3;
            color: #fff;
            border-radius: 4px;
            cursor: pointer;
            transition: all 300ms ease;
        }
        .content-modal4 .btn-cerrar4 label:hover{
            background-color:#185E83;
        }
        .cerrar-modal4{
            width:100%;
            height: 100vh;
            position: absolute;
            top:0; left: 0;
            z-index: -1;
        }
        @media screen and (max-width:800px) {
            .content-modal4{
                width: 90%;
            }
        }
        
        .content-modal4 .Cuadro {
            position: relative;
            width: 100%;
            height: 350px; /* Tamaño fijo del Cuadro en píxeles */
            overflow: hidden; /* Recorta el contenido que desborde */
            overflow-y:auto;
            background: #D4E1E3;
            border-radius: 30px;
        }
.oculto {
    display: none;
}
#fondoOscuro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
    z-index: 999; /* Asegura que esté encima de otros elementos */
}
.from-login {
    width: 60%;
    height: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #89C7D0;
    box-shadow: 7px 13px 20px #3b3939;
    padding: 20px 30px;
    border-radius: 30px;
    z-index: 1000;
    overflow-y: auto;
}
.from-login::-webkit-scrollbar {
    width: 12px; 
}
.from-login::-webkit-scrollbar-thumb {
    background-color: #145070; 
    border-radius: 6px; 
}
.from-login::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.0); 
}
.from-login h1{
    font-family: Arial, sans-serif;
    text-align: center;
}
.tablaspdf {
    font-family: Arial, sans-serif;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 100px; /* Radio de borde para la tabla */
    border-collapse: collapse;
   
    margin: 0 auto; /* Centrar la tabla horizontalmente */
    border-radius: 20px; /* Borde redondeado de la tabla */
    overflow: hidden;
    
}
.tablaspdf th, .tablaspdf td {
    text-align: left;
    padding: 8px;
}
.tablaspdf th {
    font-weight: bold;
    background-color: #145070;
}
.tablaspdf tr:nth-child(even) {
    background-color: #D4E1E3;
}
.tablaspdf tr:nth-child(odd) {
    background-color: #D4E1E3;
}
.tablaspdf tr:hover{
    background-color: #ffffff;
}
.tablaspdf th, .tablaspdf td {
    border: 1px solid #D4E1E3;
    border-radius: 0; /* Restablece el radio de borde en las celdas */
}
.contenidoIcons {
    text-align: center; /* Alinea el texto al centro horizontalmente */
    
}
.tablaspdf th, .tablaspdf td{
    text-align: center;
}
.contenidoIcons a {
    display: inline-block; /* Hace que los enlaces sean elementos en línea y no ocupen toda la línea */
    margin: 0 10px; /* Añade un margen horizontal entre los enlaces para espaciarlos */
    color: #145070; /* O el color que desees */
    text-decoration: none; /* Elimina el subrayado si lo hay */
}
.contenidoIcons a:hover{
    color: #00aeff;
}
.fa-trash:hover{
    color: red;
}
.contenidoIcons a:hover {
    transform: scale(1.1);
}
.from-login1 {
    text-align: center;
    width: 20%;
    height: 40%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #89C7D0;
    box-shadow: 7px 13px 20px #3b3939;
    padding: 20px 30px;
    border-radius: 30px;
    z-index: 1000;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: auto;
}
.titulosArchs{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.from-login1::-webkit-scrollbar {
    width: 6px; 
}
.from-login1::-webkit-scrollbar-thumb {
    background-color: #145070; 
    border-radius: 6px; 
}
.from-login1::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.0); 
}
.cargar-pdf{
    border: 0;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #5488a3;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-radius: 10px;
    padding: 5px;
    transition: transform 0.2s;
    width: 15vw;
}
.cargar-pdf:hover{
    transform: scale(0.9);
}
.fa-upload{
    margin-right: 1vw;
}
.fa-eye{
    margin-right: 1vw;
}


.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loading-gif {
    width: 3vw;
    height: 3vw;
}