body{
    align-items: center;
    background-color: #D4E1E3;
    /*background-image: url('/imagenes/img_login/logo_Fondo.png');
    background-position: 100% 100%;
    background-size: 35% ;
    background-repeat: no-repeat;
    /*background-position: 950px 220px;*/
    
}


.barra-superior{
    z-index: 100000000000;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #145070; 
    height: 1%;
    padding: 40px; 
    color: white; 
    position: fixed; 
    top: 0%;
    border-radius:0px 0px 30px 30px;
    left: 0; 
    right:0;

}

.fa-home {
    font-size: 200%; /* Cambia el valor según el tamaño deseado */
    position: relative;
    top: -220%;
}

.fa-home:hover {
    transform: scale(0.90);
    
}

.enlace-inicio { 
    text-decoration: none; color: white;
}





.barra-superior .menu_estilo_usuario{
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.2s;
    position: fixed;
    top: 1%;
    right: 10%;
    
}
.barra-superior .menu_estilo_usuario img{
  width: 120px;
  height: auto;
  display: block;
}

.barra-superior .menu_estilo_usuario:hover{
    transform: scale(0.90);
}

.barra-superior .menu_estilo_usuario img{
    width: 120px;
    height: auto;
    display: block;
}








.barra-superior .menu_usuario:hover .contenido_del_menu_usuarios {
    display: block;
}

.barra-superior .contenido_del_menu_usuarios a:hover {
    background-color: lightblue;
}

.texto{
    font-size: 14px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    text-align: center;
    width: 90%;
    position: absolute;
    top: 47%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: black;
    
}




.L1 {
    font-size: 1.5vw;
    position: absolute;
    background-color: white;
    color: black;
    left: 50%; /* Establece la posición horizontal al centro */
    transform: translateX(-50%); /* Ajusta la posición para que el centro esté alineado */
    top: 18%;
    padding: 10px;
    border-radius: 80px;
    font-family: Arial, sans-serif;
}


.usu_B{
    padding: 5px;
    position:absolute;
    background-color: white;
    color: black;
    align-items: center;
    left: 80vw;
    top: 30%;
    font-size: 1.5vw;
    border-radius:30px 30px 30px 30px;
    font-family: Arial, sans-serif;

}
.usu_B a{
    font-size: 12px;
}


.logoArriba{
    margin-top: 4%;
    width: 20%;
    height: auto;
}

.logoLetras img{
    height: auto;
    width: 20vw;
    min-width:150px ;
    
}

.logoFondo{
    position:absolute;
    left: 70%;
    top: 38%;

}

.logoFondo img{
    height: auto;
    width: 30vw;
}

.todo{
    display: flex;
}

.cuadro2 {
    padding: 2px;
    background-color: #89C7D0;
    margin-left: 2%;
    margin-right: 10%;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.39);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 30px; /* Borde inferior derecho cero */
    border-bottom-left-radius: 30px; /* Borde inferior izquierdo cero */
    width: 20%;
    height: auto;
}



.lablCat {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    margin-left: 2%;
    margin-right: 10%;
    font-weight: bolder;
    padding: 2px;
    font-size: 120%;
    background-color: #6EA8B7;
    border-radius: 30px 30px 0 0;
    width: 20%;
    height: 5%;
    font-family: Arial, Helvetica, sans-serif;
}



.cuadro2 p{
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
    
}

.cuadroCate{
    max-height: 75%; /* Define la altura máxima que deseas antes de que aparezca la barra de desplazamiento */
    overflow-y: auto; /* Habilita la barra de desplazamiento vertical cuando sea necesario */
    left: 35%;
    top: 20%;
    margin-left: 50%;
    position: absolute;
    margin: 0 auto;
    background: #ACD3D9;
    width: 60%;
    height: auto;
    box-shadow: 10px 10px 30px 0px rgba(0.39, 0.39, 0, 0);
    padding: 5px;
    border-radius: 30px;
    overflow-x: hidden;
    
}

.cuadroCate::-webkit-scrollbar {
    width: 12px; 
}

.cuadroCate::-webkit-scrollbar-thumb {
    background-color: #145070; 
    border-radius: 6px; 
}

.cuadroCate::-webkit-scrollbar-track {
    background-color: #D4E1E3; 
}

.parrafo{
    text-align: justify;
    width: 80%;
    padding: 5px;
    margin: 0 auto;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.parrafo1 {
    text-align: left;
    width: 80%;
    padding: 5px;
    margin: 0 auto;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.parrafo1:hover{
    transform: scale(1.1);
}

.elemetosMenuLateral a {
    text-decoration: none; /* Elimina el subrayado de los enlaces dentro de .parrafo1 */
    color: black; /* Cambia el color de los enlaces a tu elección */
}


.fa-arrow-right {
    font-size: 100%;
    background-color: rgb(240, 232, 232); 
    border-radius: 100%; 
    padding: 5px;
    color: #145070;
    float: right;
    
}

.fa-arrow-right:hover {
    transform: scale(1.2);
    background-color: white;
}


.titulo_categoria{
    position: relative;
    left: -2%;
    width: 102%;
    padding: 5px;
    font-size: 24px;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #73B1C1;
}

.preguntasCategoria{
    font-size: 16px;
    padding: 5px;
    margin: 0 auto;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    background: #D4E1E3;
    border-radius: 20px;
    margin-bottom: 10px;
    text-align: justify;
}

.preguntasCategoria input{
    margin: 5px;
    padding: 5px;
    border: 0;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-radius: 20px;
}

.preguntasCategoria textarea{
    margin: 5px;
    padding: 5px;
    border: 0;
    width: 96.6%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-radius: 20px;
}

.preguntasCategoria button{
    border: 0;
    background-color: #004AAD;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-radius: 15px;
    padding: 5px;
    transition: transform 0.2s;
}

.preguntasCategoria button:hover{
    transform: scale(0.95);
}


.Listo {
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: center;
    margin-bottom: 20px;
}

.Listo img{
    width: 10%;
}

.Listo button{
    border: 0;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #004AAD;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-radius: 15px;
    padding: 5px;
    transition: transform 0.2s;
}

.Listo button:hover{
    transform: scale(0.95);
}

.btnListo{
    justify-content: center;    
}

.btnListo button{
    border: 0;
    margin-left: 50%;
    background-color: #004AAD;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-radius: 15px;
    padding: 5px;
    transition: transform 0.2s;
}

.btnListo button:hover{
    transform: scale(0.95);
}

.opcMult{
    align-content: center;

}

.opcMult select{
    margin:5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #73B1C1;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 20px;
    border-color: #145070;
}

.checkB {
    margin: 7px;
}

.checkB input{
    margin: 5px;
    width: 10%;
}