body{
    background:  #D4E1E3;
}

::-webkit-scrollbar {
  width: 6px; 
}

::-webkit-scrollbar-thumb {
  background-color: #145070; 
  border-radius: 6px; 
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.0); 
}


#logoFondo{
    position: relative;
    width: 100%;
    height: 150px;
    flex-shrink: 0;
    
  }
  
  #imgLogoFondo{
    position: absolute; 
    bottom: 0; 
    right: 0;
    width: 30%;
    height: 60%;
  }
  
  .barra-superior{
    z-index: 100;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #145070; 
    height: 1%;
    padding: 40px; 
    color: white; 
    position: fixed; 
    top: 0%;
    border-radius:0px 0px 30px 30px;
    left: 0; 
    right:0;

}
.barra-superior .menu_estilo_usuario{
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  transition: transform 0.2s;
  position: fixed;
  top: 1%;
  right: 10%;
  
}
.barra-superior .menu_estilo_usuario img{
width: 120px;
height: auto;
display: block;
}

.barra-superior .menu_estilo_usuario:hover{
  transform: scale(0.90);
}

.barra-superior .menu_estilo_usuario img{
  width: 120px;
  height: auto;
  display: block;
}

.barra-superior .menu_usuario:hover .contenido_del_menu_usuarios {
  display: block;
}

.barra-superior .contenido_del_menu_usuarios a:hover {
  background-color: lightblue;
}

.L1 {
  font-size: 1.5vw;
  position: absolute;
  background-color: white;
  color: black;
  left: 50%; /* Establece la posición horizontal al centro */
  transform: translateX(-50%); /* Ajusta la posición para que el centro esté alineado */
  top: 18%;
  padding: 10px;
  border-radius: 80px;
  font-family: Arial, sans-serif;
}

.texto{
  font-size: 14px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  text-align: center;
  width: 90%;
  position: absolute;
  top: 47%;
  left: 55%;
  transform: translate(-50%, -50%);
  color: black;
  
}

.enlace-inicio { 
  text-decoration: none; color: white;
}

.fa-home {
  font-size: 200%; /* Cambia el valor según el tamaño deseado */
  position: relative;
  top: -220%;
}

.fa-home:hover {
  transform: scale(0.90); 
}

  .tituloPag{
    background-color: #ffffff;
    height: 4%;
    width: 15%;
    border-radius: 30px; /* Bordes redondeados */
    padding: 10px; /* Espacio interno para el contenido */
    color: rgb(0, 0, 0); /* Color del texto en la barra */
    position: fixed; /* Fija la barra en la parte superior de la ventana */
    top: 3%; /* Coloca la barra a la mitad de la pantalla verticalmente */
    left: 0; /* Ajusta el inicio de la barra en la parte izquierda */
    right: 0; /* Ajusta el final de la barra en la parte derecha */
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, sans-serif;
   
  }
  
  #textoTituloPag{
    position: relative;
    top: -85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Arial;
    font-size: 140%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: Arial, sans-serif;
    
  }

   



   
 
#logoFondo{
    position: relative;
    width: 100%;
    height: 100vh;
    flex-shrink: 0;
  }

  
  #imgLogoFondo {
    position: fixed; /* Cambia "absolute" a "fixed" */
    bottom: 0;
    right: 0;
    width: 30%;
    height: 60%;
    z-index: -1;
}

  
  #imgLogoLetrasFondo{
    position: absolute; 
    top: -20%;
    left: 0%;
    width: 25%;
    height: 30%;
    z-index: -1;
  }




  /* EMPIEZA EL CSS PARA EL FORMULARIO DE REGISTRO */
  .oculto {
    display: none;
}

#fondoOscuro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
    z-index: 999; /* Asegura que esté encima de otros elementos */
}

#formularioContainer {
    width: 50%;
    height: 31vw; /*si el tamaño no funciona cambiar esto a 70% */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 1000; /* Asegura que esté encima del fondo oscuro */
    margin: auto;
    border-radius:40px;
}


.centrar {
  text-align: center;
  font-family: Arial;
  font-size: 2.5vw;
}

label {
  display: block;
  margin-bottom: 1%;
  font-family: Arial;
  font-size: 1.1vw;
}


.from-login{
  position: relative;
  width: 100%;
  height: 110%;
  
  background-color:#89C7D0 ;
  margin: auto;
  margin-top: -3%;
  margin-left: -3%;
  box-shadow: 7px 13px 20px #3b3939;
  padding: 20px 30px;
  border-radius:40px;
  z-index: 2;
}








.form_c10_1{
  display: flex;
  position:relative;
  text-align: center;  
}

.form_c10_1 button{
  margin-left: auto;
  margin-right: auto;
  border: none;
  outline: none;
  font-size: 1vw;
  text-align: center;
  width: 35%;
  height: 3vw;
  border-radius: 40px;
  background: #197B7A;
  flex-shrink: 0;
  color: white;
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.19);
  transition: trasform 0.2s;
  font-family: Arial;
}

.form_c10_1 button:hover{
  transform: scale(0.95);
}





/* Animación para el formulario emergente */
@keyframes aparecer {
    from {
        transform: translate(-50%, -60%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

/* Estilos para el formulario emergente */
#formularioContainer {
    /* Tus estilos existentes aquí */

    /* Aplicar la animación */
    animation: aparecer 0.3s ease-in-out;
}

/* Estilos para el cuadro de diálogo personalizado */




#subcriterioSelect{
    border-radius: 30px;
    width: 99%;
    height: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 1vw;
    font-size: 1.1vw;

}

#recomendacion{
  border-radius: 20px;
  width: 95%;
  padding: 1vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1vw;
}







