.oculto {
    display: none; /* cambiar a none al dar funcionalidad */
}
.from-login{
    position: relative;
    width: 50%;
    background-color:#89C7D0 ;
    margin: auto;
    margin-top: 5%;
    box-shadow: 7px 13px 20px #3b3939;
    padding: 20px 30px;
    border-radius:40px;
    z-index: 2;
  }

  .centrar {
    text-align: center;
    font-family: Arial;
  }
  
  .form_group{
    text-align: justify;
    width: 99%;
    padding: 5px;
    margin: 0 auto;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background: #D4E1E3;
    border-radius: 20px;
    margin-bottom: 10px;
  }

  .form_group input{
    margin: 5px;
    padding: 5px;
    border: 0;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-radius: 20px;
}

  .form_group textarea{
    margin: 5px;
    padding: 5px;
    border: 0;
    width: 96.6%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-radius: 20px;
}
.fechas {
    display: flex;
    text-align: justify;
    width: 99%;
    padding: 5px;
    margin: 0 auto;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background: #D4E1E3;
    border-radius: 20px;
    margin-bottom: 10px;
}

.inicio {
    display: inline-block;
    width: 47%;
    padding-left: 5%;
    padding-bottom: 1%;
}

.fin {
    display: inline-block;
    width: 47%;
    padding-left: 5%;
    padding-bottom: 1%;
}

.btnListo {
    text-align: center;
}

.btnListo button {
    width: 15%;
    border: 0;
    background-color: #004AAD;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    border-radius: 8px;
    padding: 5px;
    transition: transform 0.2s;
    display: inline-block; /* Añade esto para evitar que el botón ocupe todo el ancho */
    cursor: pointer;
    margin-bottom: 1vw;
}

.btnListo button:hover {
    transform: scale(0.95);
    background-color: #1b61bb;
}


.imgpdfs{
    width: 30%;
    padding: 10px;
    text-align: center;
    font-size: 6vw;
    color: white;
}
.Listo {
    display: block;
    padding: 5px;
    width: 70%;
}

.Listo img{
    width: 10%;
}
.Listo button{
    border: 0;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #5488a3;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-radius: 10px;
    padding: 5px;
    transition: transform 0.2s;
    width: 15vw;
}

.Listo button:hover{
    transform: scale(0.95);
}

.btnListo {
    text-align: center;
}

.btnListo button {
    border: 0;
    background-color: #004AAD;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    border-radius: 8px;
    padding: 5px;
    transition: transform 0.2s;
    display: inline-block; /* Añade esto para evitar que el botón ocupe todo el ancho */
    cursor: pointer;
    margin-bottom: 1vw;
}

.btnListo button:hover {
    transform: scale(0.95);
    background-color: #1b61bb;
}

.pdfs-options {
    border-radius: 30px;
    background-color: #73B1C1;
    display: flex;
    width: 60%;
    margin: 0 auto; /* Centra horizontalmente */
    margin-bottom: 3vw;
}

.boton-modal1{
    padding: 15%;
    padding-left: 0%;
    color: #fff;
    cursor: pointer;
    transition: all 300ms ease;
}

.fondoOscuro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
    z-index: 999; /* Asegura que esté encima de otros elementos */
}