body{
    background-color: #D4E1E3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: center;
    left: center;
}

.logo_Arriba{
    min-width: 250px;
    position: absolute;
    top: 10%;
    width: 25%;
    height: auto;
}

.barra-superior{
   
    background-color: #145070; 
    height: 10%;
    border-radius: 30px; 
    padding: 40px; 
    color: white; 
    position: fixed; 
    top: -10%; 
    left: 0; 
    right: 0; 

}

/*=========================================*/

.barra-superior .menu_arte{
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.2s;
    position: fixed;
    top: 10px;
    left: 20px;
}

.barra-superior .menu_arte:hover{
    transform: scale(0.90);
}

.barra-superior .menu_arte img{
    width: 70px;
    height: auto;
    display: block;
}


/*Estilo para el contenedor del menu */
.barra-superior .menu_desplegable {
    position: relative;
    display: inline-block;
}

/*Estilo para el contenido desplegable */
.barra-superior .contenido_del_menu{
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    position: fixed;
    top: 60px;
    left: 50px;
}

/*Estilo para las opciones del contenido desplegable*/
.barra-superior .contenido_del_menu a {
    font-family: Arial;
    font-size: 12;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/*Mostrar el menu desplegable*/
.barra-superior .menu_desplegable:hover .contenido_del_menu {
    display: block;
}

/*Color de las opciones del menu desplegable*/
.barra-superior .contenido_del_menu a:hover {
    background-color: lightblue;
}

/*-==========================*/

/*Dar formato a la imagen del menu desplegable*/
.barra-superior .menu_estilo_usuario{
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.2s;
    position: fixed;
    top: 1%;
    right: 10%;
    
}

.barra-superior .menu_estilo_usuario:hover{
    transform: scale(0.90);
}

.barra-superior .menu_estilo_usuario img{
    width: 120px;
    height: auto;
    display: block;
}


/*Estilo para el contenedor del menu */
.barra-superior .menu_usuario {
    position: relative;
    display: inline-block;
}

/*Estilo para el contenido desplegable */
.barra-superior .contenido_del_menu_usuarios{
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    position: fixed;
    top: 9%;
    right: 7.5%;
}


/*Estilo para las opciones del contenido desplegable*/
.barra-superior .contenido_del_menu_usuarios a {
    font-family: Arial;
    font-size: 12;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/*Mostrar el menu desplegable*/
.barra-superior .menu_usuario:hover .contenido_del_menu_usuarios {
    display: block;
}

/*Color de las opciones del menu desplegable*/
.barra-superior .contenido_del_menu_usuarios a:hover {
    background-color: lightblue;
}

.texto{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 14px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    text-align: center;
    width: 90%;
}


/*=============================================*/


.contenedor-botones{
    width: 500px;
    height: 400px;
    padding-left: 50px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.contenedor-botones .btn1{
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.2s; 
    
}

.contenedor-botones .btn1:hover{
    transform: scale(0.90);
}

.contenedor-botones .btn1 img{
    width: 80%;
    height: 80%;
    display: block;
} 

.contenedor-botones .btn2{
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.2s;   
}

.contenedor-botones .btn2:hover{
    transform: scale(0.90);
}

.contenedor-botones .btn2 img{
    width: 80%;
    height: 80%;
    display: block;
} 


body .img1{
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 60vh;
    height:auto;
    z-index: -1;
    
}




