body{
    display: flex;
    background-color: #D4E1E3;
    justify-content: center;
    align-items: center;

}

.logoLetras{
    position:absolute;
    left: 0%;
    top: 0%;
}

.logoLetras img{
    height: auto;
    width: 20vw;
    min-width:150px ;
    
}

.logoFondo{
    position:absolute;
    left: 70%;
    top: 38%;

}

.logoFondo img{
    height: auto;
    width: 30vw;
}

.cuadro{
    position:fixed;
    top: 20%;
    left:15%;
    background-color:#89C7D0 ;
    border-radius:70px 70px 70px 70px;
    height: 60%;
    width: 50px;
    min-width: 70%;
    max-width: fit-content;
    min-height: 70%;
}

.cuadro .P1{
    font-size:150%;
    text-align: center;
}

.cuadro .P2{
    display: block;
    position:absolute;
    font-size:130%;
    text-align: center;
    top:40%;
    min-height: 40%;
    left: 20vw;
   
}
@media (max-width: 884px) {
    .cuadro .P2 {
        font-size: 70%; /* Reducir el tamaño del texto para pantallas más pequeñas */
        height: 5%;
        width: 60%;
        left: 15vw;
        top: 35%;
    }
  }

.correoInput{
    position:absolute;
    background-color: white;
    color: black;
    align-items: center;
    left: 23vw;
    top: 19.5%;
    font-size: 1.5vw;
    border-radius:30px 30px 30px 30px;
    width: 35%;
    min-width: none;
    text-indent: 20%;
    height: 10%;

}


@media (max-width: 884px) {
    .correoInput {
        font-size: 3vw; /* Reducir el tamaño del texto para pantallas más pequeñas */
        height: 5%;
        left: 15vw;
        width: 60%;
        top: 19.5%;
    }
  }


.correoI{
    position:absolute;
    left: 33%;
    top: 19%;
}

@media (max-width: 884px) {
    .correoI{
        height: auto;
        left: 18vw;
        width:6vw;
    }
  }

.correoI img{
    height: auto;
    width: 3.5vw;
}

@media (max-width: 884px) {
    .correoI img {
        height: auto;
        width:3vw;
    }
  }

.from_1{
    top: 55%;
    position: absolute;
    left: 40%;
    width:2vw ;
    height: 3.5vw;
    border-radius: 5cm;
    border: none;
}

@media (max-width: 884px) {
    .from_1 {
        left:35% ;
    }
  }

.from_2{
    top: 55%;
    position: absolute;
    left: 44%;
    width:2vw ;
    height: 3.5vw;
    border-radius: 5cm;
    border: none;
}
@media (max-width: 884px) {
    .from_2 {
        left:41% ;
    }
  }
.from_3{
    top: 55%;
    position: absolute;
    left: 48%;
    width:2vw ;
    height: 3.5vw;
    border-radius: 5cm;
    border: none;
}
@media (max-width: 884px) {
    .from_3 {
        left:47% ;
    }
  }
.from_4{
    top: 55%;
    position: absolute;
    left: 52%;
    width:2vw ;
    height: 3.5vw;
    border-radius: 5cm;
    border: none;
}
@media (max-width: 884px) {
    .from_4 {
        left:53% ;
    }
  }

.from_5{
    top: 55%;
    position: absolute;
    left: 56%;
    width:2vw ;
    height: 3.5vw;
    border-radius: 5cm;
    border: none;
}
@media (max-width: 884px) {
    .from_5 {
        left:59% ;
    }
  }

.from_6{
    top: 55%;
    position: absolute;
    left: 60%;
    width:2vw ;
    height: 3.5vw;
    border-radius: 5cm;
    border: none;
}
@media (max-width: 884px) {
    .from_6 {
        left:65% ;
    }
  }

.from_boton1{
    top: 80%;
    position: absolute;
    left: 35%;
    width:9vw ;
    height: 2vw;
    border-radius: 40px;
    background: #197B7A;
    flex-shrink: 0;
    color: white;
    box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.19);
    transition: trasform 0.2s;
    font-family: Arial;
}
.from_boton1:hover{
    transform: scale(0.95);
  }
@media (max-width: 884px) {
    .from_boton1 {
        left: 20%;
        width:20vw ;
        height:auto;
    }
  }


.from_boton2{
    top: 80%;
    position: absolute;
    left: 60%;
    width:6vw ;
    height: 2vw;
    border-radius: 40px;
    background: #197B7A;
    flex-shrink: 0;
    color: white;
    box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.19);
    transition: trasform 0.2s;
    font-family: Arial;
}

.from_boton2:hover{
    transform: scale(0.95);
  }
@media (max-width: 884px) {
    .from_boton2 {
        left: 60%;
        width:20vw ;
        height:auto;
    }
  }



