body {
  background-color: #D4E1E3;
  
}



.imgLogoFondo{
  position: absolute;
  bottom:0;
  left: 65%;
  width: 35%;
  height: 65%;
}



.imgLogoLetras{
  position: absolute; 
  top: 0%;
  bottom: 0;
  left: 2%;
  width: 20%;
  height: 20%;
}


.correo{
  position: absolute; 
  top: 18%;
  bottom: 0;
  left: 22%;
  width: 26%;
  height: 30%;
  z-index: 4;
}


.cuadro{
  position:absolute;
  top: -15%;
  right: 25%;
  background-color:#89C7D0 ;
  margin: auto;
  margin-top: 180px;
  box-shadow: 7px 13px 20px #C2C2C2;
  border-radius:70px 70px 70px 70px;
  width:50%;
  height: 75%;
  font-size: 300%;
  text-align: center;

}



.from_label_Tit{
  position: relative;
  top: 15%;
  
  font-size: 75%;
  font-weight: bold;
  font-family: 'Arial';


}


.from_label1{
  color: var(--color);
  cursor: pointer;
  position: absolute;
  top: 40%;
  left: 29%;
  font-size: 40%;
  font-family: 'Arial';

}

.from_contras1{
  position: absolute;
  top: 45%;
  left: 29%;
  width:40%;
  height: 7%;
  border: none;
  font-size: 32%;
  border-radius:70px 70px 70px 70px;
  font-family: 'Arial';
}


.from_label2{
  color: var(--color);
  cursor: pointer;
  position: absolute;
  top: 55%;
  left: 29%;
  font-size: 40%;
  font-family: 'Arial';

}

.from_contras2{
  position: absolute;
  top: 60%;
  left: 29%;
  width:40%;
  height: 7%;
  border: none;
  font-size: 32%;
  border-radius:70px 70px 70px 70px;
}

.from_contras3{
  padding-left: 6%;
  position: absolute;
  top: 24.3%;
  left: 29%;
  width:35%;
  height: 7%;
  border: none;
  font-size: 40%;
  border-radius:70px 70px 70px 70px;
  font-family: Arial;
}

.form_c8{
  position: absolute;
  top: 41.8%;
  left: 45%;
 

  
}

#contenedorOjo{
  display: inline-block;
}

#verpassword{
  position: relative;

  width: 10%;
  border: none;
  background: none;
  cursor: pointer;
  outline: none; /* Elimina el contorno gris al quitar el foco del botón */

  transition: opacity 0.9s; /* Agrega una transición suave de opacidad */
}

/* Cambia la opacidad al pasar el ratón por encima */
#verpassword img:hover {
  opacity: 0.8; /* Cambia la opacidad al 70% cuando el cursor está sobre la imagen */
}

#ojo{
  width: 100%;
  height: 100%;
  opacity: 0.2;
  
}



.from_boton{
  position:absolute;
  top: 85%;
  right: 40%;
  border: 1px solid #197B9A; /*anchura, estilo y color borde*/
  padding: 10px; /*espacio alrededor texto*/
  background-color: #197B9A; /*color botón*/
  color: #000; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-family: Arial; /*tipografía texto*/
  border-radius: 50px; /*bordes redondos*/
  font-size: 40%;

}

#cambiarContra:hover{
  transform: scale(0.95);
}


#cuadroDialogo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  border-radius: 30px;
  display: none;
  
  
  width: 30%;
  height: 50%;
  background-color: #F3FAFA;
  z-index: 8;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  border: 1px solid rgb(199, 77, 77); /* Agrega un borde rojo */

}

#tituloError{
  text-align: center;
  font-family: Arial;
  font-size: xx-large;
  
}

#descripcionError{
  text-align: center;
  font-family: Arial;
  font-size: medium;

}

#botonError{
  text-align: center;
  font-family: Arial;
  font-size: medium;

  display: block; /* Convierte el botón en un elemento de bloque */
  margin: 0 auto; /* Centra horizontalmente */
  padding: 10px 20px; /* Espaciado interior del botón */
  border-radius: 10px; /* Bordes redondeados */
  background-color: #0097B2; /* Cambia el color de fondo */
  color: #fff; /* Cambia el color del texto */
  border: none; /* Elimina el borde */
  cursor: pointer;
}

#botonError:hover {
  background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse */
}


.cerrar {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: red;
  font-size: 100%;
}
  /* EMPIEZA EL CSS PARA EL FORMULARIO DE REGISTRO */
  .oculto {
    display: none;
}


