body{
    justify-content: center;
    background-image: url('/imagenes/img_login/logo_Fondo.png');
    background-position: 100% 150%;
    background-repeat: no-repeat;
    /*background-position: 950px 220px;*/
    align-items: center;

}

.cajaLogin{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.login-box{    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    width:612px;
    height: 367px;
    padding: 20px;
    /*top: 140px;
    left: 422px;
    right: 100px;*/
    border-radius: 80px;
    background: #89C7D0;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.39);
    /*position: absolute;*/
    margin: 0 auto;
    
}

 .login-box input{
    border: none;
    outline: none;
    margin-top: 20px;
    font-size: 18px;
    top: 293px;
    left: 751px;
    right: 400px;
    padding-left: 55px;
    width: 241px;
    height: 54px;
    border-radius: 40px;
    margin: 10px;
}

.usuario-input{
    background-image: url('/imagenes/img_login/usuario2.png');
    background-size: 45px;
    background-position: 5px center;
    background-repeat: no-repeat;
}
.pass-input{
    background-image: url('/imagenes/img_login/candado2.png');
    background-size: 45px;
    background-position: 5px center;
    background-repeat: no-repeat;
}

.login-box button{
    border: none;
    outline: none;
    margin: 25px;
    margin-left: 100px;
    font-size: 14px;
    text-align: center;
    width: 127px;
    height: 45px;
    border-radius: 40px;
    background: #197B7A;
    flex-shrink: 0;
    color: white;
    box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.19);
    transition: trasform 0.2s;
}

.login-box button:hover{
    transform: scale(0.95);
}


.incognitas{
    grid-column: 1/3;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
}

.incognitas link{
    margin: 5px;/*
    margin-top: 15px;*/
}

.incognitas a{
    color: aliceblue;
}

.social-buttons {
    display: flex;
    justify-content: center;
    margin-top: 120px; /* Espacio entre la caja de inicio de sesión y los botones */
}

.social-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px; /* Ancho del botón circular */
    height: 50px; /* Altura del botón circular */
    background-color: none; /* Color de fondo del botón */
    border-radius: 50%; /* Hace que el botón sea circular */
    margin: 0 30px; /* Espacio entre los botones */
    text-decoration: none; /* Quita el subrayado de los hipervínculos */
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.39);
    transition: transform 0.2s;
}

.social-button:hover{
    transform: scale(0.90);
}

.social-button img {
    width: 50px; /* Tamaño de la imagen circular dentro del botón */
    height: 50px;
    border-radius: 50%; /* Asegura que la imagen también sea circular */
}
